@use "./_variables" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: $ff-main;
  color: $clolor-blackish-green;
  background-color: $color-smoky-white;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $clolor-blackish-green;
}

textarea {
  resize: none;
}
