// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-signal-black: #262626;
$clolor-blackish-green: #141414;
$color-smoky-white: #F9F9F9;
$color-pearl-dark-gray: #868383;
$color-dark-pear: #FFA902;
$color-melon-yellow: #F3A100;
$color-platinum: #E5E5EA;
$color-dust-red: #FF4D4F;
$color-light-gray: #D9D9D9;
$color-semiligth-gray: #BDBDBD;


$color-white-60: rgba(255, 255, 255, 0.6);
$color-black-10: rgba(0, 0, 0, 0.1);
$color-black-25: rgba(0, 0, 0, 0.25);
$color-black-70: rgba(0, 0, 0, 0.7);
$color-black-85: rgba(0, 0, 0, 0.85);


// Typography
$ff-main: "Poppins", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
