@use "../../styles/_variables" as *;

.recipe {
  padding: 30px 0 60px;

  &__wrapper {
    border-radius: 10px;
    background-color: $color-white;
    overflow: hidden;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 15px;
  }

  &__image {
    width: 100%;
    height: auto;
    margin: 0 0 15px;
    border-radius: 10px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
  }

  &__content {
    margin: 0 0 50px;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }

  &__description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__description-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__description-name {
    margin: 0 0 5px;
  }
}