.recipes {
  padding: 60px 0;

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 20px;
  }

  &__buttons-wrapper {
    display: flex;
    gap: 10px;
  }
  
  &__list {
    padding: 0;
    margin: 0 0 60px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__item {
    position: relative;
  }
}